@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: OldEng;
  src: url(/assets/fonts/OE.ttf);
}

div  {
  font-family: OldEng;
}